.page-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.lightspeed-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
  transition: opacity 1s ease-out;
}


.lightspeed-video.fade-out {
  opacity: 0;
}

.page-content {
  position: relative;
  z-index: 1;
}
